*{
    margin: 0;
    padding: 0;
}
/* INDEX */
/* HEADER */
.div {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
      background-color: #f6dee1;
      color: black;
  }
  
.header { 
    grid-area: header;
    background-color: #f6dee1;
    background-image: linear-gradient(to bottom, pink, #f6dee1);
    
    
}

.img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-direction: column-reverse;
    

   
   
}
.nav1{
    display: flex ;
    align-content: stretch;
    justify-content: space-around;
    margin-top: 10px;
}

.nav1 li {
    list-style: none;
    margin: 10px;
    font-family:'Courier New', Courier, monospace;
    }
.nav1 li:hover{
    transition: 0.5s;
    transform: scale(1.1);
    animation: cambioColor;
    animation-duration: 3s;
    

}
.nav1 a{
    text-decoration: none;
    color: black;
}







/* MAIN */
 
.main {
    grid-area: main; 
    background-color: pink;
    height: 75vh;
    margin: 30px;
    
    }
   
    .servicios a{
        display: flex;
        height: 100%;
         color: black;
         text-align: center;
         text-decoration: none;
         justify-content: center;
         align-items: flex-end;
    
        
         
    }
    .servicios{
        display: grid ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        height: 100%;
    
       
    }
    
    .pestañas{
        background-image: url(../img/unnamed\ \(9\).jpg);
        background-size: 100%;
       
         
    }
    .pestañas:hover{
        transition: 2s;
        transform: scale(1.02);
    }
    .cejas{
        background-image: url(../img/unnamed.jpg);
        background-size: 100%;
    }
    .cejas:hover{
        transition: 2s;
        transform: scale(1.02);

    }
    .makeup{
        background-image: url(../img/09e62e44028da53a65c112767eca4397.jpg);
        background-size: 100%;
    }
    .makeup:hover{
        transition: 2s;
        transform: scale(1.02);

    }
    .tendencias{
        background-image: url(../img/09e62e44028da53a65c112767eca4397.jpg);
        background-size: 100%;
    }
    .tendencias:hover{
        transition: 2s;
        transform: scale(1.02);

    }






/* FOOTER */

  .footer {
     grid-area: footer;
     background-color: #f6dee1;
     background-image: linear-gradient(to top, pink, #f6dee1);
    
     }
 .footer1{
    display: flex;
     align-content: stretch;
     justify-content: space-between;
     list-style: none;
     height: 50px;
     flex-direction: column;
    align-items: stretch;   
 }    
.div i{
    font-size: 1rem;
    color: black;
}
.div i:hover{
    color: antiquewhite;
}



/* QUIENES SOMOS */

.fotoHermanas{
    margin: 25px;
    padding: 25px;
}
.mainqs{
    display: flex;
    text-align: center;
}

.quienesSomos{
    text-align: center;
    display: inline;
    width: 55vw;
    height: 75vh;
    margin: 25px;
    padding: 25px;
}






/* CONTACTO */

.texto{
    width: 500px;
}


/* ANIMACIONES */
@keyframes cambioColor{
    0%{
        background-color: rgba(255, 0, 0, 0.281);
    }
    100%{
        background-color: #f6dee1;
    }
}



/* MEDIA QUERY-MOBILE LAST */
@media (max-width: 375px){
    .nav1{
        flex-direction: column;
        align-items: center;
    }
    .img{
        align-items: center;
        transform: translate(50px) rotate(25deg);
        height: 250px
    }
}